@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
}

.image {
  width: 50%;
  height: 740px;
}

#password{
    width: 80%;
    height: 100%;
}

.formc {
    padding-left: 50px;
    padding-top: 50px;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
  
  }

#logo{
    height: 150px;
    width: 150px;
}

.text {
  margin-top: 70px;
}

p {
  font-size: 17px;
}

label {
  font-size: 18px;
}

/* input.code-input {
  font-size: 1.5em;
  width: 1em;
  text-align: center;
  flex: 1 0 1em;
}

input[type='submit'] {
  margin-left: auto;
  display: block;
  font-size: 1em;
  cursor: pointer;
  transition: all cubic-bezier(0.4, 0.0, 0.2, 1) .1s;

}

input[type='submit']:hover {
  background: var(--background3);
} */

.input-field input {
    height: 45px;
    width: 500px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px #ddd;
  }

button {
  width: 211px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #9D0000;
  box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

form button {
  margin-top: 25px;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #9D0000;
  transition: all 0.2s ease;
}

form button.active {
  background: #4070f4;
  pointer-events: auto;
}

form button:hover {
  background: #0e4bf1;
}
